<%- include('includes/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-6 align-self-center">
                <h1 class="py-5 float-right display-4">Moc Meetup</h1>
            </div>
            <div class="col-6"><img src="/images/logo.png" /></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div id="container" style="min-width: 500px; height: 500px; margin: 0 auto"></div>
            </div>
        </div>
        <% if(!isAlreadySaved) { %>
            <div class="row justify-content-center">
                <div class="col-6" id="submitRow"><button class="form-control" id="saveCalendarBtn">Save as Club Scheduler Page</button></div>
            </div>
            <form class="invisble" id="nameform" action="/saveChart" method="POST">
                <div class="row justify-content-center"><input type="hidden" name="calendarData" id="calendarData" value="" />
                    <div class="col-4"><input class="form-control" type="text" name="calendarName" placeholder="Calendar Name" required="required" /></div>
                    <div class="col-2"><button class="form-control btn-primary" type="submit">Save</button></div>
                </div>
            </form>
        <% } %>
    </div>
    <script>
        $('#saveCalendarBtn').click(function() {
            $('#submitRow').addClass('invisble');
            $('#nameform').removeClass('invisble');
        });

        function getPointCategoryName(point, dimension) {
            var series = point.series,
                isY = dimension === 'y',
                axis = series[isY ? 'yAxis' : 'xAxis'];
            return axis.categories[point[isY ? 'y' : 'x']];
        }

        function formatData(data) {
            var chartArray = []
            var classData = Object.values(data)
            classData = [].concat.apply([], classData);
            for (var x = 0; x < <%= chartX %>; x++) {
                for (var y = 0; y < <%= chartY %>; y++) {
                    var index = x * <%= chartY %> +y;
                    chartArray[index] = [x, y, classData.filter(v => v === index).length];
                }
            }
            console.log(chartArray)
            return chartArray;
        }

        window.onload = function() {
            $('#calendarData').val('<%- barArray %>')

            Highcharts.chart('container', {
                credits: {
                    enabled: false
                },
                chart: {
                    type: 'heatmap',
                    marginTop: 40,
                    marginBottom: 80,
                    plotBorderWidth: 1
                },
                title: {
                    text: "Club Schedule"
                },

                xAxis: {
                    categories: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                    title: null
                },
                yAxis: {
                    categories: ['8:00-8:30', '8:30-9:00',
                        '9:00-9:30', '9:30-10:00',
                        '10:00-10:30', '10:30-11:00',
                        '11:00-11:30', '11:30-12:00',
                        '12:00-12:30', '12:30-1:00',
                        '1:00-1:30', '1:30-2:00',
                        '2:00-2:30', '2:30-3:00',
                        '3:00-3:30', '3:30-4:00',
                        '4:00-4:30', '4:30-5:00',
                        '5:00-5:30', '5:30-6:00',
                        '6:00-6:30', '6:30-7:00',
                        '7:00-7:30', '7:30-8:00',
                        '8:00-8:30', '8:30-9:00', '9:00-9:30'
                    ],
                    title: null,
                    reversed: true
                },

                accessibility: {
                    point: {
                        descriptionFormatter: function(point) {
                            var ix = point.index + 1,
                                xName = getPointCategoryName(point, 'x'),
                                yName = getPointCategoryName(point, 'y'),
                                val = point.value;
                            return ix + '. ' + xName + ' sales ' + yName + ', ' + val + '.';
                        }
                    }
                },

                colorAxis: {
                    min: 0,
                    minColor: '#FFFFFF'
                    //maxColor: Highcharts.getOptions().colors[0]
                },

                legend: {
                    align: 'right',
                    layout: 'vertical',
                    margin: 0,
                    verticalAlign: 'top',
                    y: 25,
                    symbolHeight: 280
                },

                tooltip: {
                    formatter: function() {
                        return '<b>' + getPointCategoryName(this.point, 'x') + '</b> has <br><b>' +
                            this.point.value + '</b> classes from <br><b>' + getPointCategoryName(this.point, 'y') + '</b>';
                    }
                },

                series: [{
                    data: formatData(JSON.parse('<%- barArray %>')),
                    borderWidth: 1,
                    name: ""
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            yAxis: {
                                labels: {
                                    formatter: function() {
                                        return this.value.charAt(0);
                                    }
                                }
                            }
                        }
                    }]
                }
            });
        };
    </script>
    
<%- include('includes/footer.ejs') %>