<%- include('includes/header.ejs') %>

    <div class="container">
        <form action="/chart/search" method="GET">
            <div class="row pt-3 justify-content-center">
                <div class="col-md-6 col-10 pr-0"><input class="form-control" name="searchterm" /></div>
                <div class="col-md-1 col-2 pl-0 pb-5"><button class="btn-secondary form-control" type="submit"><i class="fa fa-search"></i></button></div>
            </div>
        </form>

        <!--- Print Datatable --->
        <% if(calendars.length > 0) { %>
            <table id="searchTable" class="table grid">
                <thead class="text-center">
                <tr>
                    <th id="searchTable_name">Name</th>
                    <th id="searchTable_number">Last Updated</th>
                </tr>
                </thead>
                <tbody>
                    <% for(let cal of calendars){ %>
                        <tr>
                            <td aria-label="Name"><a href="/chart/<%= cal.calendarid %>"><%= cal.name %></a></td>
                            <td aria-label="Date Last Updated"><%= cal.updateddate.toDateString() %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% } %>
    </div>

<%- include('includes/footer.ejs') %>